
body {
    background-color: #999;
}
.main,
.main2,
.main3,
.main4 {
    background-color: #fefefe;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 400px;
    padding: 5px 20px 20px 20px;
    border-radius: 10px;
}

.users {
    background: #ccc;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font: 16px/1.3 Arial, sans-serif;
}